<% include ../partials/header %>

<div class="content">
    <div class="ui segment">
        <div class="ui grid">
            <div class="four wide column">
                <div class="image">
                    <img class="image-cropper" id="pIamge" src="<%= profile.image %>">
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui raised segment">
                    <h1 class="ui header"><span><i class="user circle outline icon" id="profileIcon"></i></span><em><%= profile.owner.username %>'s Profile</em></h1>
                    <p><%- profile.desc %></p>
                </div>
                <% if(currentUser && profile.owner.id.equals(currentUser._id)){ %>
                    <a class="ui basic orange button" href="/profile/<%= profile._id %>/edit">Edit</a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="content">
<div class="ui main text container">
    <div class="ui top attached huge header"><i class="write icon"></i><%=profile.owner.username %>'s Blogs</div>
    <div class="ui attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                            <span>By <strong><%= blog.author.username %></strong></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 100) %>...</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
</div>

<% include ../partials/footer %>